APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:bbb6RDZmEtkTMxzVwE2AOJ5qL3Fslk5YjnqmM2cdg4g=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost:8000
LOG_SLACK_WEBHOOK_URL=https://hooks.slack.com/services/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

SANCTUM_STATEFUL_DOMAINS=localhost,localhost:8000,localhost:3000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single,slack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=pgsql
DB_PORT=5432
DB_DATABASE=postgres
DB_USERNAME=postgres
DB_PASSWORD=123456

SESSION_DRIVER=redis
SESSION_LIFETIME=500
SESSION_ENCRYPT=true
SESSION_PATH=/
SESSION_DOMAIN=null
SESSION_CONNECTION=default

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=redis
CACHE_PREFIX=laravel_

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_CACHE_DB=1
REDIS_DB=0
CACHE_STORE=redis
REDIS_CACHE_CONNECTION=cache
REDIS_PREFIX=laravel_cache_
REDIS_URL=redis://redis:6379

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"
SENTRY_LARAVEL_DSN=https://6beffebf75bd83da41818f318d3b26bd@o4507484369977344.ingest.us.sentry.io/4508533029535744
SENTRY_TRACES_SAMPLE_RATE=1.0

# Pulse configuration for slow queries and server monitoring
PULSE_SLOW_QUERIES_THRESHOLD=500
PULSE_SLOW_REQUESTS_THRESHOLD=1000
PULSE_REDIS_CONNECTION=pulse
PULSE_REDIS_DATABASE=2
PULSE_STORAGE_DRIVER=database
PULSE_DB_CONNECTION=pgsql


MEILISEARCH_HOST=http://meilisearch:7700
MEILISEARCH_KEY=masterKey
MEILISEARCH_NO_ANALYTICS=false
SCOUT_DRIVER=meilisearch
SCOUT_QUEUE=true
OCTANE_HTTPS=false

